.menu-game {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #293447;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  color: #b8c6dc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 99;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

/* .menu-btn {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    justify-content: space-around;
    background: #b8c6dc;
    color: #293447;
    cursor: pointer;
} */
